{{> nav-admin}}
<div id="admin-container">
  <img class="admin-logo" src="/images/logo_gray.svg" alt="Main Logo">

  <h1 class="admin-title-form">{{operation}} {{section}}</h1>

<section class ="admin-section" id="{{section}}">
  <form action="{{formaction}}" method="{{formmethod}}">

  </form>
</section>

</div>
